body{
    font-family:Afacad;
    background-color:#F5B9DA;
    color:#7c2d58
}

h1, h2, h3, h4, h5, h6{
    font-family:Open-Sans;
    font-size:30pt;
    text-align: center;
}
header {
    text-align:center;
}

#hero, footer {
    background: color #b87eab;
    text-align: center;
    padding:10px;
}
#hero img {
    width:300px
}

#bio{
    text-align: center;
}

#Hobbies li {
    text-align: center;
    color: #B03060;
}
/* Gallery*/
#gallery{
    border:2px solid #77479e;
    margin-bottom: 2rem;
}
#gallery figure{ 
    text-align: center;}
#gallery img {
    max: width 100%;
}

/*Literature*/
#lit { 
     border:2px solid #77479e;
     margin-bottom:2rem;
    }
    #lit div {
        padding:2rem;
        max-width: 40rem;
        margin: 0 auto;
    }